
<div class="container">

<div class="col-md-12">

<%= simple_form_for(@producto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :image, as: :file %>
    <%= f.input :nombre%>
    <%= f.input :descripcion %>
    <%= f.input :precio %>
	<%= f.collection_select :category_id, Category.all,:id,:name,{prompt:"Escoje una Categoria"},{class:"form-control"}  %>
	<br>
	<%= f.collection_select :marca_id, Marca.all,:id,:name,{prompt:"Escoje una Marca"},{class:"form-control"}  %>
  
  </div>
  

<br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
</div>
<br>
