<section class="bg-2" style="text-align: center;">
     <h1 style="font-size: 60px;">Productos</h1>

    <p style="font-size: 20px">A tu alcance</p>
</section>
<br>
<div class="container">

<%= form_tag productos_path, method: :get do %>
<div class="input-group">
  
  <%= text_field_tag :buscar, params[:buscar], class:'form-control', placeholder:"Buscar Producto..." %>
  <span class="input-group-btn">
  <%= submit_tag "Buscar", class:"btn btn-info " %>
  </span>
  <% end %>
  </div>
<br>




<div class="card-deck-wrapper">
  <div class="card-deck">

     <% @productos.each do |producto| %>

<div class="col-lg-4">
  <div class="card">

    
     <%=link_to (image_tag producto.image.url), producto, class:"card-img-top" %>    
      <div class="card-block">    
      <h3 class="card-header"><%= producto.marca.name && producto.marca.name %></h3>
      <div class="card-title">
        <%= producto.nombre%>
      </div>
      <div class="card-text">
        <%= truncate(producto.descripcion, length: 100)%>
      </div>
      <div class="card-footer text-muted"> <%= producto.category && producto.category.name %></div>
        
        <%if producto.user == current_user %>
        <%= link_to 'Edit', edit_producto_path(producto) %>        
      <% end %>
      </div>
</div>
  </div>
  <% end %>
  </div>    

  </div>
 

<br>
<%if user_signed_in? %>

  <%= link_to 'Nuevo Producto', new_producto_path, class:"btn btn-primary" %>
  
<% end %>

</div>
<br>
<br><br>

