<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<div class="row">
     <% @productos.each do |producto| %>
  <div class="col-sm-4">
      <div class="card card-block">
    
      
      <div class="card-title">
        <%= producto.nombre%>
      </div>
      <div class="card-text">
        <%= truncate(producto.descripcion, length: 30)%>
      </div>
        <%= link_to 'Show', producto %>
        <%= link_to 'Edit', edit_producto_path(producto) %>
        
      


      </div>


  </div>

    <% end %>

</div>
   

<br>

<%= link_to 'Nuevo Producto', new_producto_path %>
