<p id="notice"><%= notice %></p>

<div class="container">

<%= form_tag productos_path, method: :get do %>
<div class="input-group">
  
  <%= text_field_tag :buscar, params[:buscar], class:'form-control', placeholder:"Buscar Producto..." %>
  <span class="input-group-btn">
  <%= submit_tag "Buscar", class:"btn btn-info " %>
  </span>
  <% end %>
  </div>
<br>

<h1 style="text-align: center;">Productos</h1>

<div class="row">
     <% @productos.each do |producto| %>
  <div class="col-sm-4">
      <div class="card card-block">
    
      <h3 class="card-header"><%= producto.marca.name && producto.marca.name %></h3>
      <div class="card-title">
        <%= producto.nombre%>
      </div>
      <div class="card-text">
        <%= truncate(producto.descripcion, length: 100)%>
      </div>

      <div class="card-footer text-muted"> <%= producto.category && producto.category.name %></div>
        <%= link_to 'Show', producto %>
        <%if producto.user == current_user %>
        <%= link_to 'Edit', edit_producto_path(producto) %>
        
      <% end %>


      </div>


  </div>

    <% end %>

</div>
   

<br>
<%if user_signed_in? %>

  <%= link_to 'Nuevo Producto', new_producto_path, class:"btn btn-primary" %>
  
<% end %>
</div>