<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Eliminar', @producto, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', productos_path %>
