<div class="mio">
<br>
<div class="container">

  <div class="row">

  <div class="col-md-6">
    <%= image_tag @producto.image.url(:medium) %>
<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>
  </div>

  <div class="col-md-6">
    <p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>
  </div>
    
  

  </div>
<div class="row">
  <div class="col-md-6">

  <% if user_signed_in? %>
<p>
  <strong>Precio:</strong>
  <%= @producto.precio%>
</p>
<% end %>
<p>
  <strong>Categoria:</strong>
  <%= @producto.category && @producto.category.name %>
</p>
<p>
  <strong>Marca:</strong>
  <%= @producto.marca.name && @producto.marca.name %>
</p>
    

  </div>

</div>


<% if @producto.user == current_user %>
<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Eliminar', @producto, method: :delete, data: { confirm: 'Esta seguro' } %>
<% end %>|
<%= link_to 'Back', productos_path %>

</div>

</div>

<br><br><br>