<div class="mio">
<br>
<div class="container">

  <div class="row">

  <div class="col-lg-6">
    <%= image_tag @producto.image.url(:medium) %>

  </div>

  <div class="col-lg-6">
  <h1>  <%= @producto.nombre %> </h1> 

    <p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>
  </div>
    
  </div>
  <br>

<div class="row">
  <div class="col-lg-6">

  <% if user_signed_in? %>
<p>
  <strong>Precio:</strong>
  <%= @producto.precio%>
</p>
<% end %>
<p>
  <strong>Categoria:</strong>
  <%= @producto.category && @producto.category.name %>
</p>

<p>
  <strong>Sub-Categoria:</strong>
  <%= @producto.type && @producto.type.name %>
</p>
</div>

<div class="col-lg-6">

<p>
  <strong>Marca:</strong>
  <%= @producto.marca.name && @producto.marca.name %>
</p>
    

  </div>

</div>

<div class="btn-group" role="group" arial-label="Basic example">
<% if @producto.user == current_user %>
<%= link_to 'Editar', edit_producto_path(@producto), class:'btn btn-warning' %> 
<%= link_to 'Eliminar', @producto, class:'btn btn-danger', method: :delete, data: { confirm: 'Esta seguro' } %>
<% end %>
<%= link_to 'Atras', productos_path, class:'btn btn-secondary' %>
</div>
</div>

</div>

<br><br><br>