<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio%>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @producto.category && @producto.category.name %>
</p>
<p>
  <strong>Marca:</strong>
  <%= @producto.marca.name && @producto.marca.name %>
</p>


<% if @producto.user == current_user %>
<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Eliminar', @producto, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>|
<%= link_to 'Back', productos_path %>
</div>